body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.buzz_wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("http://gifyu.com/images/ezgif-3133487021.gif");
  background-position: center;
  background-size: 1000px 500px !important;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden; }

.scanline {
  margin: auto;
  top: 100px;
  width: 1000px;
  height: 500px;
  position: relative;
  background: #000;
  height: 4px;
  margin-bottom: 4px;
  z-index: 3;
  opacity: 0.1; }

.buzz_wrapper span {
  position: absolute;
  -webkit-filter: blur(1px);
  font-size: 2EM;
  font-family: 'Courier new', fixed;
  font-weight: bold;
  text-align: center;
  padding-left: 39px;
  bottom: 0; }

.buzz_wrapper span:nth-child(1) {
  color: red;
  margin-left: -2px;
  -webkit-filter: blur(2px); }

.buzz_wrapper span:nth-child(2) {
  color: green;
  margin-left: 2px;
  -webkit-filter: blur(2px); }

.buzz_wrapper span:nth-child(3) {
  color: blue;
  position: 20px 0;
  -webkit-filter: blur(1px); }

.buzz_wrapper span:nth-child(4) {
  color: #fff;
  -webkit-filter: blur(1px);
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.4); }

.buzz_wrapper span:nth-child(5) {
  color: rgba(255, 255, 255, 0.4);
  -webkit-filter: blur(15px); }

.buzz_wrapper span {
  -webkit-animation: blur 30ms infinite, jerk 50ms infinite; }

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(1px);
    opacity: 0.8; }
  50% {
    -webkit-filter: blur(1px);
    opacity: 1; }
  100% {
    -webkit-filter: blur(1px);
    opacity: 0.8; } }
@-webkit-keyframes jerk {
  50% {
    left: 1px; }
  51% {
    left: 0; } }
@-webkit-keyframes jerkup {
  50% {
    top: 1px; }
  51% {
    top: 0; } }
.buzz_wrapper span:nth-child(3) {
  -webkit-animation: jerkblue 1s infinite; }

@-webkit-keyframes jerkblue {
  0% {
    left: 0; }
  30% {
    left: 0; }
  31% {
    left: 10px; }
  32% {
    left: 0; }
  98% {
    left: 0; }
  100% {
    left: 10px; } }
.buzz_wrapper span:nth-child(2) {
  -webkit-animation: jerkgreen 1s infinite; }

@-webkit-keyframes jerkgreen {
  0% {
    left: 0; }
  30% {
    left: 0; }
  31% {
    left: -10px; }
  32% {
    left: 0; }
  98% {
    left: 0; }
  100% {
    left: -10px; } }
.buzz_wrapper .text {
  -webkit-animation: jerkwhole 5s infinite;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1000px;
  height: 500px; }

@-webkit-keyframes jerkwhole {
  40% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    -webkit-transform: skew(0, 0); }
  41% {
    opacity: 0.8;
    top: 0px;
    left: -100px;
    -webkit-transform: scale(1, 1.2);
    -webkit-transform: skew(50deg, 0); }
  42% {
    opacity: 0.8;
    top: 0px;
    left: 100px;
    -webkit-transform: scale(1, 1.2);
    -webkit-transform: skew(-80deg, 0); }
  43% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    -webkit-transform: skew(0, 0); } }

/*# sourceMappingURL=1.css.map */
